@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    <link href="~/css/optimizer.css" rel="stylesheet" />
}
    @model IEnumerable<ImageTransformerTestResult>
@{
    <table>
        <thead>

            <tr>
                <th>
                    Image
                </th>
                <th>
                    Type
                </th>
                <th>
                    FileName
                </th>
                <th>
                    Size
                </th>
                <th>
                    Extension
                </th>
                <th>
                    Format
                </th>
                <th>
                    FileSize
                </th>
                <th>
                    Duration
                </th>
                <th>

                    FileSize Diff Ratio
                </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Source.Original.Path">
                    </td>
                    <td>
                        original
                    </td>
                    <td>
                        <p>@item.Source.Original.FileName</p>
                    </td>
                    <td>
                        <p>@item.Source.Original.Width x @item.Source.Original.Height</p>
                    </td>

                    <td>

                        <p>@item.Source.Original.Extension</p>
                    </td>
                    <td>
                        <p>@item.Source.Original.Format</p>
                    </td>
                    <td>

                        <p>@item.Source.Original.FileSize</p>
                    </td>
                    <td>
                        <p>0 s</p>
                    </td>
                    <td>
                        <p>1</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="@item.Source.Transformed.Path">
                    </td>
                    <td>
                        source
                    </td>
                    <td>
                        <p>@item.Source.Transformed.FileName</p>
                    </td>
                    <td>
                        <p>@item.Source.Transformed.Width x @item.Source.Transformed.Height</p>
                    </td>

                    <td>

                        <p>@item.Source.Transformed.Extension</p>
                    </td>
                    <td>
                        <p>@item.Source.Transformed.Format</p>
                    </td>
                    <td>

                        <p>@item.Source.Transformed.FileSize</p>
                    </td>
                    <td>
                        <p>@(Math.Round(item.Source.Duration.TotalSeconds, 3)) s</p>
                    </td>
                    <td>
                        <p>@item.Source.FileSizeDifferenceRatio</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="@item.Thumbnail.Transformed.Path">
                    </td>
                    <td>
                        thumbnail
                    </td>
                    <td>
                        <p>@item.Thumbnail.Transformed.FileName</p>
                    </td>
                    <td>
                        <p>@item.Thumbnail.Transformed.Width x @item.Thumbnail.Transformed.Height</p>
                    </td>

                    <td>

                        <p>@item.Thumbnail.Transformed.Extension</p>
                    </td>
                    <td>
                        <p>@item.Thumbnail.Transformed.Format</p>
                    </td>
                    <td>

                        <p>@item.Thumbnail.Transformed.FileSize</p>
                    </td>
                    <td>
                        <p>@(Math.Round(item.Thumbnail.Duration.TotalSeconds, 3)) s</p>
                    </td>
                    <td>
                        <p>@item.Thumbnail.FileSizeDifferenceRatio</p>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Source Total Duration:</th>
                <th>@Math.Round(Model.Sum(r=>r.Source.Duration.TotalSeconds),3) s</th>
                <th>Thumbnail Total Duration:</th>
                <th>@Math.Round(Model.Sum(r=>r.Thumbnail.Duration.TotalSeconds),3) s</th>
                <th>Total Duration:</th>
                <th>@Math.Round(Model.Sum(r=>r.Source.Duration.TotalSeconds+r.Thumbnail.Duration.TotalSeconds),3) s</th>
            </tr>
        </tfoot>
    </table>



}
