@inject IPasteImgLogic logic
@model Upload
@section Styles{
    <link href="~/_debug/css/image.css" rel="stylesheet" /> 
}
@section Scripts{

       <script src="~/_debug/js/image.js"></script>
}

<div>
    <label for="show-nsfw">Show NSFW</label>
        <input id="show-nsfw" name="show-nsfw" type="checkbox" @(Context.Session.GetString("nsfw") is not null?"checked":"") onclick="onShowNsfwChanged(this)" />
    <div class="w-100 align-content-center">
            <div class="images d-flex flex-wrap">
            @foreach (var item in Model.Images)
            {
                string thumbnail = Url.ActionLink("ThumbnailFile", "DebugView", new { id = item.Id });
                string source = Url.ActionLink("Source", "DebugView", new { id = item.Id });
                <div class="card m-3 w-25">
                    <div class="card-header h-100 flex-grow-1 d-flex align-items-center text-center">
                        <div class="card-img">
                            @if (item.NSFW)
                            {
                                <img class="nsfw w-100" @(Context.Session.GetString("nsfw") is null?"data-blur-nsfw":"") src="@thumbnail">
                            }
                            else
                            {
                                <img class="w-100" src="@thumbnail">
                            }
                        </div>
                    </div>
                    @if (item.Description?.Length > 0 == true)
                    {
                        <div class="card-body">
                            <p class="card-text">
                                @item.Description
                            </p>
                        </div>

                    }
                    <div class="card-footer">
                        <div class="overflow-auto">
                            <label>Share: </label>
                            <textarea class="d-block w-100"  style="resize:none;height:80px;" disabled>@source</textarea>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div>
            <label>Share Images: </label>
            <textarea class="d-block w-75" style="resize:none" disabled>@Context.Request.GetDisplayUrl()</textarea>
        </div>
    </div>
       
      
</div>