@model IPasteImgLogic
@section Styles{
    <link href="~/css/deb/list_uploads.css" rel="stylesheet" type="text/css" />
}
@section Scripts{

       <script src="~/js/deb/listUploads.js"></script>

}
<div>
    <label for="show-nsfw">Show NSFW</label>
    <input id="show-nsfw" name="show-nsfw" type="checkbox" onchange="onShowNsfwChanged(this)">
    <table>
        <tr>
            <th>Thumbnail</th>
            <th>UploadId</th>
            <th>Password </th>
            <th>TimeStamp</th>
            <th>Id</th>
            <th>Description</th>
            <th>NSFW</th>
            <th>Source size</th>
            <th>Source filesize</th>
            <th>Source extension</th>
            <th>Optimized size</th>
            <th>Optimized filesize</th>
            <th>Optimized extension</th>
            <th>Filesize difference ratio</th>
            <th>Optimization duration</th>
            <th>Used quality</th>
        </tr>



        @foreach (Upload upload in Model.ReadAllUpload().OrderByDescending(u => u.TimeStamp))
        {
            @foreach (Image image in upload.Images)
            {
                OptimizationResult? result = Model.ReadOptimizationResult(image.Id);
                <tr>
                    <td>
                        <img  @(image.NSFW?"data-blur-nsfw class=nsfw":"") src="@Model.GetThumbnailPath(image)" />
                        <a  href="@Model.GetImagePath(image)">Show full image</a>
                    </td>
                    <td title="@upload.Id">@upload.Id[..5]</td>
                    <td title="@upload.Password">@upload.Password?[..5]</td>
                    <td>@upload.TimeStamp</td>
                    <td title="@image.Id">@image.Id[..5]</td>
                    <td title="@image.Description">@(image.Description?.Length<15?image.Description:image.Description?[..12]+"...")</td>
                    <td>@image.NSFW</td>
                    <td>@result?.SourceWidth x @result?.SourceHeight</td>
                    <td>@result?.SourceFileSize</td>
                    <td>@result?.SourceExtension</td>
                    <td>@result?.OptimizedWidth x @result?.OptimizedHeight</td>
                    <td>@result?.OptimizedFileSize</td>
                    <td>@result?.OptimizedExtension</td>
                    <td>@result?.FileSizeDifferenceRatio</td>
                    <td>@result?.Duration</td>
                    <td>@result?.UsedQuality</td>
                </tr>


            }
        }
                </table>

</div>